<!DOCTYPE html>
<html>
<head>
  <title>Bakersfield Tech Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ryfUvG9GMsjO580PWzNNRjLvAT8tTOr9cHdGAysrwfg" />
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-52958909-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container navbar-inner">
		  <div class="navbar-header">
		   	<%= link_to "Bakersfield Tech Jobs", root_path, :class => 'navbar-brand' %>
		  </div>
		</div>
	</nav>
	<div class="alert alert-info" role="alert">Waiting on the Google Mail and Analytics verification before going live. Should be soon! Tell your friends!</div>
	<%= yield %>

	<small class="center-block">Copyright 2014 BakersfieldTechJobs.com, All Rights Reserved | <a href="mailto:info@bakersfieldtechjobs.com">Contact us!</a></small>
</body>
</html>
